.container {
    margin-top: 10rem;
    width: 100%;
}

.container input {
    padding: 0.5rem;
    margin: 0.5rem auto;
    display: block;
    border-radius: 1.2rem;
    border-width: thick;
    border-style: solid;
    background: none;
    font-size: 1rem;
    transition: 0.25s;
    width: 60%;
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    color: black;
    font-weight: bolder;
    font-family: 'Roboto Slab';
}

input::placeholder {
    color: black;
}

.container input:focus {
    width: 65%;
    border-color: #dbf1b6;
    outline: none;
    transition: 0.25s;
}

.btn {
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    padding: 0.5rem;
    border-radius: 0.7rem;
    margin: 1rem;
    font-family: 'Roboto Slab';
    border: none;
    cursor: pointer;
    color: rgb(122, 122, 122);
}

button:hover {
    color: white;
    background-color: rgb(255, 195, 195);
    transition: 0.5s;
}

button:focus {
    color: white;
    background-color: #ff9999;
    color: black;
    transition: 0.1s;
}