.container {
    margin-top: 10rem;
    width: 100%;
}

.container input {
    padding: 0.5rem;
    margin: 0.5rem auto;
    display: block;
    border-radius: 1.2rem;
    border-color: #91cc83;
    border-width: thick;
    border-style: solid;
    background: none;
    font-size: 1rem;
    transition: 0.25s;
    width: 60%;
    background-color: white;
    color: black;
    font-weight: bolder;
    font-family: 'Roboto Slab';
}

.container input:focus {
    width: 65%;
    border-color: #dbf1b6;
    outline: none;
    transition: 0.25s;
}

button {
    padding: 0.5rem;
    border-radius: 0.7rem;
    margin: 1rem;
    font-family: 'Roboto Slab';
    color: rgb(63, 131, 103);
    border: none;
    background-color: rgb(197, 240, 223);
    cursor: pointer;
}

button:hover {
    background-color: rgb(96, 177, 144);
    color: white;
    transition: 0.5s;
}

button:focus {
    background-color: rgb(201, 253, 181);
    color: black;
    transition: 0.1s;
}