.container {
    max-width: 100vw;
    overflow: hidden;
    margin-bottom: 7rem;
}

.wrap {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    text-align: center;
    justify-items: center;
    align-items: center;
}

.features {
    display: block;
    text-align: center;
    margin: 4rem 0 2rem 0;
}