.container {
    max-width: 100vw;
    overflow: hidden;
    height: calc(100vh + 3rem);
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
    color: white;
}

.bg1 {
    position: absolute;
    width: 50%;
    left: 0;
    bottom: 9rem;
    transform: scaleX(-100%);
}

.wrap p {
    font-size: 1.5rem;
}

.bg2 {
    position: absolute;
    width: 50%;
    right: 0;
    bottom: 9rem;
}

.head {
    font-family: 'sacramento', cursive;
    font-size: 5rem;
    margin-bottom: 0;
}

.wrap {
    width: 50%;
    height: 100%;
    padding: 2rem;
    position: relative;
}

.scroll {
    overflow-x: scroll;
    display: flex;
    max-width: 100%;
    margin: 0;
}