.container {
    max-width: 100vw;
    overflow: hidden;
    height: calc(100vh + 3rem);
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
}

.head {
    font-family: 'sacramento', cursive;
    font-size: 5rem;
    margin-bottom: 0;
}

.container img {
    width: 20rem;
    display: inline-block;
}

.wrap {
    width: 50%;
    height: 100%;
    padding: 2rem;
    position: relative;
}

.scroll {
    overflow-x: scroll;
    display: flex;
    max-width: 100%;
    margin: 0;
}