.containerhead {
    display: block;
    color: white;
    text-align: center;
}

.bg2 {
    position: absolute;
    opacity: 0.5;
    width: 10rem;
    right: 0;
    z-index: -1;
}

.wrapper {
    min-height: 100vh;
    position: relative;
}

.bg1 {
    position: absolute;
    opacity: 0.5;
    width: 10rem;
    z-index: -1;
    left: 0;
}

.container {
    color: white;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    position: relative;
    overflow: hidden;
    padding-bottom: 3em;
    max-width: calc(100vw - 15rem);
    margin: auto;
}

@media only screen and (max-width: 1024px) {
    .container {
        max-width: unset;
    }
}

@media only screen and (max-width: 624px) {
    .bg2 {
        bottom: 0;
    }
    .bg1 {
        display: none;
    }
}