.login {
    width: 35%;
    height: 100vh;
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    display: flex;
    margin: 0;
    border-bottom-left-radius: 1.2rem;
    position: relative;
    left: 5%;
    animation: slide 3s ease infinite;
    transition: 1s;
    z-index: 0;
}

.login h1 {
    text-align: center;
    color: black;
    z-index: 5;
}

@keyframes slide {
    0% {
        left: 0;
    }
    50% {
        left: 5%;
    }
    100% {
        left: 0;
    }
}

.login:hover {
    transition: 1s ease-in;
    color: black;
    left: 0;
    position: unset;
}