.wrapper {
    background-color: gray;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: inline-block;
}

.container {
    margin-top: 3rem;
    color: white;
    display: inline-block;
    margin-bottom: 5rem;
}

.container p {
    margin: 0;
    margin-bottom: 3rem;
}

@media only screen and (max-width: 460px) {
    .wrapper {
        width: 2rem;
        height: 2rem;
    }
}