.input,
.textarea {
    margin: 0.3rem;
    padding: 0.2rem;
    border-radius: 0.5rem;
    outline: none;
    font-family: "Roboto Slab";
    width: 28%;
    max-width: 20rem;
    transition: 0.5s;
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

.input:focus {
    width: 35%;
    transition: 0.5s;
}

.images {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 2rem;
}

.images img {
    width: 10rem;
    border-radius: 0.8rem;
    opacity: 0.5;
    transition: 0.5s;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    overflow-y: scroll;
    padding-bottom: 3rem;
}

.wrapper {
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.textarea {
    padding: 0.2rem;
    border-radius: 0.5rem;
    border: 2px green solid;
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    resize: none;
    outline: none;
    height: 5rem;
}

.btn {
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    border: 1px solid rgba( 255, 255, 255, 0.18);
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: 'Roboto Slab';
    border-radius: 0.3rem;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.473);
    cursor: pointer;
}