@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow Semi Condensed', serif;
    background-color: #3527ac;
    background-image: linear-gradient(67deg, #3527ac 0%, #b22fc1 46%, #ffda94 100%);
}

* {
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background-color: #ffffff8c;
}

 ::-webkit-scrollbar-thumb {
    background: rgb(136, 101, 153);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(176, 138, 196);
}