@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', sans-serif;
}

* {
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: #b4eec0;
}

 ::-webkit-scrollbar-thumb {
    background: rgb(37, 175, 129);
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(79, 153, 95);
}