.container {
    min-height: 10rem;
    background-color: #8acfaf;
    border-radius: 1rem;
    margin: 1rem;
    padding: 0.5rem;
}

.container:hover {
    background-color: rgb(190, 238, 213);
    transition: 0.5s;
}

.text {
    text-align: left;
    font-size: 0.8rem;
    hyphens: auto;
}

.image {
    width: 100%;
    border-radius: 0.5rem;
}