.leftpane {
    flex: 0.5;
    /* background-color: #7947b3; */
    background: rgba(255, 255, 255, 0.158);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

@media screen and (min-width: 0px) and (max-width: 900px) {
    .leftpane {
        display: none;
    }
}

.dp {
    border-radius: 10%;
    width: 50%;
    align-self: flex-start;
    margin: 2rem auto 2rem auto;
    border: solid rgb(73, 155, 121) 2px;
}

.btn {
    width: calc(100% - 1rem);
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    border: 1px solid rgba( 255, 255, 255, 0.18);
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.473);
    cursor: pointer;
}