.newpost {
    margin: 8% 15% 8% 15%;
    background-color: #D0F6D8;
    border-radius: 1.1rem;
    text-align: left;
    padding: 1rem;
    align-content: center;
    box-shadow: -3px 4px 15px -2px rgba(117, 117, 117, 0.54);
    -webkit-box-shadow: -3px 4px 15px -2px rgba(117, 117, 117, 0.54);
    -moz-box-shadow: -3px 4px 15px -2px rgba(117, 117, 117, 0.54);
}

.delete {
    /* style={{ cursor: "pointer" }, {position: "absolute"},{bottom:'0'},{right:'0'}} */
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media screen and (min-width: 0px) and (max-width: 700px) {
    .newpost {
        margin: 2rem;
        margin-bottom: 2rem;
        background-color: #D0F6D8;
        border-radius: 1.1rem;
        text-align: left;
        padding: 0.8rem;
        align-content: center;
    }
    .image {
        display: block;
        margin: auto;
        border-radius: 1rem;
        width: 100%;
    }
}

.head {
    display: flex;
}

.head img {
    width: 3rem;
    border-radius: 50%;
    align-self: flex-start;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid black;
}

.head h2 {
    display: inline-block;
    margin: auto;
    margin-left: 5%;
}

.head h6 {
    padding: 0;
    margin: 0;
    font-weight: lighter;
}

.time {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    max-height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.text {
    margin-top: 1rem;
    text-align: left;
    zoom: 1;
    overflow: hidden;
    position: relative;
}

.image {
    float: left;
    max-width: 40%;
    max-height: 20rem;
    border-radius: 1rem;
    margin-right: 1rem;
}